.App {
  text-align: center;
}


/* .App {
  text-align: center;
  display: flex;
  flex-direction: column;
 ;
}

.username{
  
  width: 200px;
  height: 25px;
 
}

.password{
  
  width: 200px;
  height: 25px;
}
.register{
  
  width: 100px;
  height: 25px;
} */